# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Cereal

The data description can be found [here](https://www.kaggle.com/crawford/80-cereals/home)

## 1) Import the usual libraries here.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 2) Read the cereal data into Python

In [2]:
cer = pd.read_csv("../data/cereal.csv")

In [3]:
cer.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

## 3) Briefly explore the data
Was it read in correctly? How big is the dataset? Are there any errors?

In [4]:
cer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.7+ KB

In [5]:
cer.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

## 4) Yes, there are data entry errors!
Find and fix them. Make sure to verify that your fixes worked!

In [6]:
# This works because DataFrames are actually just big matrices kinda.
cer[cer == -1] = np.nan

In [7]:
# This is probably how we would have done it with what we've learned so far, though.
# cer.loc[cer['carbo'] == -1, 'carbo'] = np.nan
# cer.loc[cer['sugars'] == -1, 'sugars'] = np.nan
# cer.loc[cer['potass'] == -1, 'potass'] = np.nan

In [8]:
cer.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,76.000000,76.000000,75.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.802632,7.026316,98.666667,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,3.907326,4.378656,70.410636,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,15.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,42.500000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.500000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

## 5) What is your favorite cereal?
Show me _only_ that row.

In [9]:
cer.loc[cer['name'] == 'Lucky Charms', :]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
42,Lucky Charms,G,C,110,2,1,180,0.0,12.0,12.0,55.0,25,2,1.0,1.0,26.734515

## 6) Which five cereals have the highest sugar content per serving?

In [10]:
cer.sort_values('sugars', ascending=False).loc[:, ['name', 'sugars']].head()

                     name  sugars
66                 Smacks    15.0
30           Golden Crisp    15.0
70      Total Raisin Bran    14.0
52  Post Nat. Raisin Bran    14.0
6             Apple Jacks    14.0

## 7) Which five cereals have the highest sugar content per _cup_?

In [11]:
cer['sugar_per_cup'] = cer['sugars'] / cer['cups']

In [12]:
cer.sort_values('sugar_per_cup', ascending=False).loc[:, ['name', 'sugar_per_cup']].head()

                     name  sugar_per_cup
52  Post Nat. Raisin Bran      20.895522
66                 Smacks      20.000000
51   Oatmeal Raisin Crisp      20.000000
46   Mueslix Crispy Blend      19.402985
0               100% Bran      18.181818

## 8) Do Hot or Cold cereals tend to have more fiber?

In [13]:
cer.groupby('type').mean()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,sugar_per_cup
type,,,,,,,,,,,,,,
C,107.162162,2.486486,1.013514,165.067568,2.189189,14.702703,7.175676,98.561644,29.054054,2.229730,1.030811,0.818243,42.095218,9.553668
H,100.000000,4.000000,1.000000,26.666667,1.233333,18.500000,1.500000,102.500000,8.333333,1.666667,1.000000,0.890000,56.737708,1.500000

## 9) Which manufacturer has...
* ... the highest rated cereals on average?
* ... the highest rated cereals on median?
* ... the lowest rated cereal?
* ... the highest rated cereal?

Give me these answers in **only one line of code!**

In [14]:
cer.groupby('mfr')['rating'].agg(['mean', 'median', 'min', 'max'])

          mean     median        min        max
mfr
A    54.850917  54.850917  54.850917  54.850917
G    34.485852  36.181877  19.823573  51.592193
K    44.038462  40.560159  29.924285  93.704912
N    67.968567  68.319429  59.363993  74.472949
P    41.705744  40.917047  28.025765  53.371007
Q    42.915990  47.419974  18.042851  63.005645
R    41.542997  41.721976  34.139765  49.787445